<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base2::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Change Password Page</title>
</head>
<body>
<section>
    <div class="card m-3">
        <div class="card-body">
            <h1 class="text-center">Change Your Password</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">

                        <form
                                th:action="@{/user/process-change-password}"

                                method="post"
                                class="mt-2"
                        >


                            <!-- Old Password -->
                            <div class="input-group mt-3">
                                <input name="oldPassword" required type="password" id="oldPassword" placeholder="Enter old password here" class="form-control"/>
                            </div>

                            <!-- New Password -->
                            <div class="input-group mt-3">
                                <input name="newPassword" required type="password" id="newPassword" placeholder="Enter new password here" class="form-control"/>
                            </div>




                            <div class="container text-center mt-5">
                                <button type="submit" class="btn btn-outline-primary">Save Changes</button>
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/3mtdfrkl8coh00vvntuhxwg9vdhxukbczoob55jkn2npyxeh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
	      tinymce.init({
	        selector: '#mytextarea'
	      });
    	</script>
</section>
</body>
</html>